In [1]:
import pandas as pd

total_data_mv = pd.read_csv('../Project/sampled_dataset.csv')

total_data_mv.head(1)

C:\Users\Ortoactiva\AppData\Local\Temp\ipykernel_4252\204054349.py:3: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  total_data_mv = pd.read_csv('../Project/sampled_dataset.csv')

,id,spkid,full_name,pdes,name,prefix,neo,pha,H,diameter,...,sigma_i,sigma_om,sigma_w,sigma_ma,sigma_ad,sigma_n,sigma_tp,sigma_per,class,rms
0,a0380944,2380944,380944 (2006 KD16),380944,NaN,NaN,N,N,16.0,NaN,...,0.000007,0.00004,0.00007,0.000062,3.465300e-08,3.400800e-09,0.000304,0.00003,MBA,0.58472

In [2]:
# Borrado de variables 
total_data_mv["neo_n"] = pd.factorize(total_data_mv["neo"])[0]
total_data_mv["pha_n"] = pd.factorize(total_data_mv["pha"])[0]
total_data_mv["class_n"] = pd.factorize(total_data_mv["class"])[0]
total_data_mv.drop(["id", "spkid", "full_name","pdes","name","prefix","orbit_id","rms","sigma_e",'sigma_e', 'sigma_a', 'sigma_q', 'sigma_i', 'sigma_om', 'sigma_w', 'sigma_ma', 'sigma_ad', 'sigma_n', 'sigma_tp', 'sigma_per','equinox','epoch','epoch_cal',"per","moid_ld", "epoch_mjd","e", "i", "om", "w", "ma", "tp","neo_n","pha_n","diameter","diameter_sigma","albedo","class", "neo", "pha"], axis = 1, inplace = True)
total_data_mv.head(1)

,H,a,q,ad,n,tp_cal,per_y,moid,class_n
0,16.0,2.861151,2.609549,3.112753,0.203654,2.020101e+07,4.839711,1.60954,0

In [3]:
# Contabilización de columnas numéricas y categóricas después de eliminar columnas por valores faltantes
# Identificar columnas numéricas
numeric_columns = total_data_mv.select_dtypes(include=['float64','int64']).columns.tolist()

# Identificar columnas categóricas
categorical_columns = total_data_mv.select_dtypes(include=['object', 'category']).columns.tolist()

# Imprimir los resultados
print(f'Número de columnas numéricas: {len(numeric_columns)}')
print('Columnas numéricas:', numeric_columns)

print(f'Número de columnas categóricas: {len(categorical_columns)}')
print('Columnas categóricas:', categorical_columns)

Número de columnas numéricas: 9
Columnas numéricas: ['H', 'a', 'q', 'ad', 'n', 'tp_cal', 'per_y', 'moid', 'class_n']
Número de columnas categóricas: 0
Columnas categóricas: []

In [4]:
total_data_mv.isnull().sum().sort_values(ascending=False)

moid       3114
H           994
a             0
q             0
ad            0
n             0
tp_cal        0
per_y         0
class_n       0
dtype: int64

In [5]:
total_data_mv.head()

,H,a,q,ad,n,tp_cal,per_y,moid,class_n
0,16.000,2.861151,2.609549,3.112753,0.203654,2.020101e+07,4.839711,1.60954,0
1,16.300,2.776953,2.334741,3.219166,0.212986,2.020051e+07,4.627656,1.35140,0
2,17.200,2.761839,2.654659,2.869019,0.214737,2.018052e+07,4.589926,1.64037,0
3,16.900,3.083955,2.947100,3.220809,0.181988,2.020123e+07,5.415895,NaN,0
4,18.172,2.585770,2.245948,2.925591,0.237039,2.018092e+07,4.158081,1.22971,0

In [6]:
# Iterar sobre cada columna y reemplazar NaN con la media
for column in total_data_mv.columns:
    mean_value = total_data_mv[column].mean()
    total_data_mv[column].fillna(mean_value, inplace=True)

total_data_mv.head()

C:\Users\Ortoactiva\AppData\Local\Temp\ipykernel_4252\237149856.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  total_data_mv[column].fillna(mean_value, inplace=True)

,H,a,q,ad,n,tp_cal,per_y,moid,class_n
0,16.000,2.861151,2.609549,3.112753,0.203654,2.020101e+07,4.839711,1.609540,0
1,16.300,2.776953,2.334741,3.219166,0.212986,2.020051e+07,4.627656,1.351400,0
2,17.200,2.761839,2.654659,2.869019,0.214737,2.018052e+07,4.589926,1.640370,0
3,16.900,3.083955,2.947100,3.220809,0.181988,2.020123e+07,5.415895,1.406733,0
4,18.172,2.585770,2.245948,2.925591,0.237039,2.018092e+07,4.158081,1.229710,0

In [7]:
total_data_mv.isnull().sum().sort_values(ascending=False)

H          0
a          0
q          0
ad         0
n          0
tp_cal     0
per_y      0
moid       0
class_n    0
dtype: int64

In [8]:
# Escalado de valores
from sklearn.preprocessing import MinMaxScaler

num_variables = ['H', 'a', 'q', 'ad', 'n', 'tp_cal', 'per_y', 'class_n']
scaler = MinMaxScaler()
scal_features = scaler.fit_transform(total_data_mv[num_variables])
df_scal = pd.DataFrame(scal_features, index = total_data_mv.index, columns = num_variables)
df_scal["moid"] = total_data_mv["moid"]
df_scal.head()

,H,a,q,ad,n,tp_cal,per_y,class_n,moid
0,0.444444,0.000067,0.031472,0.000034,0.099883,0.736726,7.108192e-07,0.0,1.609540
1,0.454861,0.000065,0.028050,0.000036,0.104460,0.736649,6.762181e-07,0.0,1.351400
2,0.486111,0.000064,0.032034,0.000031,0.105318,0.733587,6.700618e-07,0.0,1.640370
3,0.475694,0.000074,0.035675,0.000036,0.089256,0.736758,8.048351e-07,0.0,1.406733
4,0.519861,0.000059,0.026945,0.000032,0.116256,0.733648,5.995976e-07,0.0,1.229710

In [9]:
# Dividir el conjunto en train y test
from sklearn.model_selection import train_test_split

X = df_scal.drop(columns=["moid"])
y = df_scal["moid"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

X_train.head()

,H,a,q,ad,n,tp_cal,per_y,class_n
104025,0.503472,0.000053,0.026054,0.000027,0.131012,0.736635,5.231807e-07,0.000000
5415,0.599792,0.000038,0.019463,0.000020,0.187371,0.736617,3.420888e-07,0.272727
75612,0.468750,0.000058,0.024517,0.000034,0.118620,0.735103,5.860790e-07,0.000000
138169,0.513889,0.000049,0.022321,0.000027,0.142362,0.738118,4.751834e-07,0.000000
87184,0.531076,0.000054,0.022683,0.000032,0.129159,0.738225,5.318179e-07,0.000000

In [10]:
# Guardado de datos separados
X_train["moid"] = list(y_train)
X_test["moid"] = list(y_test)
X_train.to_csv("clean_train.csv", index = False)
X_test.to_csv("clean_test.csv", index = False)

In [11]:
from sklearn.feature_selection import chi2, SelectKBest
from sklearn.model_selection import train_test_split

from sklearn.feature_selection import f_classif, SelectKBest

selection_model = SelectKBest(f_classif, k = 5)
selection_model.fit(X_train, y_train)
ix = selection_model.get_support()
X_train_sel = pd.DataFrame(selection_model.transform(X_train), columns = X_train.columns.values[ix])
X_test_sel = pd.DataFrame(selection_model.transform(X_test), columns = X_test.columns.values[ix])

X_train_sel.head()

          a         q        ad         per_y      moid
0  0.000053  0.026054  0.000027  5.231807e-07  1.186680
1  0.000038  0.019463  0.000020  3.420888e-07  0.786854
2  0.000058  0.024517  0.000034  5.860790e-07  1.042690
3  0.000049  0.022321  0.000027  4.751834e-07  0.858100
4  0.000054  0.022683  0.000032  5.318179e-07  0.893965